extends layout

block content
    .w3-container
        h1 Lista de dados confidenciais do governo
        table.w3-table-all
            tr
                th Estado
                th sigla
                th sioe
            each gov in lista
                tr
                    td=gov.estado
                    td=gov.sigla
                    td=gov.sioe
                    td
                      button.w3-circle.w3-blue-grey(onclick="VerEntidade('"+gov.id+"')") Ver
        address
            a(href="http://localhost:3000/") HomePage
