extends layout

block content

    body(class="w3-light-grey w3-padding-64 w3-center")
        .w3-container.w3-padding-64.w3-third.w3-left
            .w3-row
                .w3-col.m5
                .w3-padding-16
                    span.w3-xlarge.w3-border-teal.w3-bottombar Contactos
                h3 Universidade do Minho - Campus de Gualtar
                p Qualquer dúvida não hesite em contactar.
                p
                    i.fa.fa-map-marker.w3-text-teal.w3-xlarge
                    |   Braga, Portugal
                p
                    
                p
                    
                    i.fa.fa-envelope-o.w3-text-teal.w3-xlarge
                    |   tiago.ms.023@gmail.com
                    br
                    
                    i.fa.fa-envelope-o.w3-text-teal.w3-xlarge
                    |   marcoalmeida.96@hotmail.com


        .w3-container.w3-padding-50.w3-twothird
            h2 Nossa Equipa
            .w3-row
                .w3-col.m5
                .w3-padding-12
                    br
                    .w3-half
                        img.w3-circle.w3-hover-opacity(src='/images/tiago.png', alt='Boss', style="border-radius:50%;" height="230" width="230")
                        h3 Tiago Silva
                        p Web Developer
                    .w3-half
                        img.w3-circle.w3-hover-opacity(src='/images/marco2.jpg', alt='Boss', style="border-radius:50%;" height="230" width="230")
                        h3 Marco Almeida
                        p Web Developer
