extends layout

block content
 
  body(class="w3-light-grey w3-padding-64 w3-center")
    
    h1 Erro:
    h2 Email não disponível
    p
        |O email inserido está incorreto ou já existe
    a(href="/register") Volte para o registo
